<%- include('../layouts/header') %>

<div class="container mt-5">

  <h2><%= course.title %></h2>
  <p><%= course.description %></p>
  <p><b><%= course.price %> VND</b></p>

  <form action="/cart/add/<%= course.id %>" method="POST" onsubmit="return checkLogin()">
    <button class="btn btn-success">Thêm vào giỏ</button>
  </form>

</div>

<script>
function checkLogin() {
  const isLoggedIn = "<%= user ? true : false %>";

  if (!isLoggedIn) {
    alert("Vui lòng đăng ký/đăng nhập vào tài khoản của bạn");
    window.location.href = "/login";
    return false;
  }
}
</script>

<%- include('../layouts/footer') %>
